/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  @apply bg-blue-50
} */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  @apply bg-blue-50
  text-neutral-800
}